/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/
/[Uu]serSettings/

/.vs/
/*.csproj
/*.unityproj
/*.sln
/*.suo
/*.tmp
/*.user
/*.userprefs
/*.pidb
/*.booproj
/*.svd
/*.pdb
/*.mdb
/*.opendb
/*.VC.db

.DS_Store
Thumbs.db

# Python virtual environment (for SLAM server)
venv/
/__pycache__/
/*.pyc
